body{
    background-color: #ccccff;
    display: table;
    margin: auto;}
#telalogin{
    background-color: #ffffff;
    min-height: 300px;
    max-height: 305px;
    min-width: 300px;
    max-width: 305px;
    border-color: #cccccc;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #333333;
    position:absolute; 
    top:50%; 
    margin-top:-150px;
    margin-left:-150px;}
#h3{
    color:#000066;
    font-size: x-large;
    text-align: center;
    margin-top: 15px; 
    
}
#containerLoginSenha{
    color:#999999;
    margin: auto;
    margin-top: 50px;
    margin-left:  70px;
    
}