<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="Atividade_Super_EstoquePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>Model.Preco</class>
    <class>Model.Modelo</class>
    <class>Model.Usuario</class>
    <class>Model.Cor</class>
    <class>Model.Produto</class>
    <class>Model.Marca</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/aspiads27abril14h?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value="piads"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="piads"/>
    </properties>
  </persistence-unit>
</persistence>
